@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background: #000033;
}

section {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.form-title {
    color: #fff;
    margin-bottom: 20px;
}

.form {
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
}

.form-item {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    display: block;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #464646;
    color: #a6a6a6;
    font-size: 16px;
    border-radius: 10px;
}

.button {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: #0066ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-footer {
    color: #a6a6a6;
}

.form-footer a {
    color: #0066ff;
    text-decoration: none;
}
